/* SKILLS SECTION >>>>>>>>> */

#skills-sec .container .heading-text{
    font-size: var(--large-headings);
    text-transform: capitalize;
    color: var(--heading-color);
    text-align: center;
    margin-top: 110px;
}
#skills-sec .container .row{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 30px 0;

    min-height: calc(100vh - 168px);
}
#skills-sec .container .row .col{
    padding: 20px;
    width: 45%;
}
#skills-sec .container .row .col .sub-heading{
    font-size: var(--large-sub-heading);
    text-transform: capitalize;
    color: var(--sub-heading-color);
    line-height: 32px;
    margin: 20px 0;

}
#skills-sec .container .row .col ul li{
    font-size: var(--large-body-text);
    text-transform: uppercase;
    line-height: 28px;
    color: var(--body-text-color);
}

/* SKILLS SECTION <<<<<<<<< */





/* ROLEBOOK SECTION */
.rolebook {
  margin-top: 70px;
  padding: 10px 20px;
  background-color: #f5f5f5;
  text-align: center;
}

.rolebook-header h2 {
  font-size: 3.5rem;
  margin-bottom: 40px;
  color: #222;
}

.rolebook-logos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 968px;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
}

.rolebook-logos img {
  max-width: 120px;
  height: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}
.rolebook-logos .four{
    width: 50px;
}
.rolebook-logos .five{
    max-width: 225px;
}

.rolebook-logos img:hover {
  transform: scale(1.05);
}

@media (min-width: 640px) {
  .rolebook-logos {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) {
  .rolebook-logos {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1024px) {
  .rolebook-logos {
    grid-template-columns: repeat(5, 1fr);
  }
}
/* ROLEBOOK SECTION */






/* RESPONSIVENESS >>>>>>>> */
/* medium device */
@media only screen and (max-width: 1007px){
    #skills-sec .container .row .col .sub-heading{
        font-size: var(--medium-sub-heading);
    }
    #skills-sec .container .row .col ul li{
        font-size: var(--medium-body-text);
    }
}


/* small device */
@media only screen and (max-width: 640px){
    #skills-sec .container .row .col{
        width: 100%;
    }
    #skills-sec .container .row .col .sub-heading{
        font-size: var(--small-sub-heading);
    }
    #skills-sec .container .row .col ul li{
        font-size: var(--small-body-text);
    }
}


/* RESPONSIVENESS <<<<<<<< */